.shop {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-weight: 400;
  font-size: small;
  margin-left: 100px;
}

.product-container {
  border-right: 1px solid black;
  margin-right: 0px;
}
.search-container {
  /* background-color: rgb(43, 41, 41); */
  margin-top: 10px;
  margin-bottom: 10px;
}
.search-container input {
  /* background-color: rgb(43, 41, 41); */
  width: 60%;
  height: 40px;
  border: 2px solid rgb(87, 5, 87);
  border-radius: 10px;
}
